/*BEGIN Fight Stick Controller Styling*/
.controller.fight-stick {
    background: url(https://imgur.com/PaDWy8k.png) center no-repeat;
    height: 534px;
    width: 1122px;
}


.fight-stick .p0:after {
    content: "Player 1";
    display:none;
}

.fight-stick .p1:after {
    content: "Player 2";
    display:none;
}

.fight-stick .p2:after {
    content: "Player 3";
    display:none;
}

.fight-stick .p3:after {
    content: "Player 4";
    display:none;
}



/*END Fight Stick Controller Styling*/
